@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

html {
    width: 600px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
}

body {
    background: linear-gradient(to bottom, rgb(206, 122, 73), rgb(255, 255, 255))
}

main {
    padding: 15px;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 1.5em;
}

#buscar {
    margin-top: 30px;
}


#guardar p {
    color: red;
    font-size: .75em;
    text-align: center;
    /* margin-top: 20px; */
}

#tareas .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
}

#tareas .row .tarea {
    grid-column: 1 / 3;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 20px;
   
}


#tareas .row .eliminar {
    grid-column: 3/4;
    text-align: center;
   background-color: tomato;
}

#tareas .row .eliminar button {
background-color: tomato;
border: none;
text-align: center;
padding-top: 20px;
}
